* {
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #fff7ed;
  font-family: "Inter", serif;
}
